<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>Filter.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Enroll.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/History.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Subjects.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/CreateChoice.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/CreateQuestion.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/CreateQuiz.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/CreateSubject.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/EditProfile.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/EditSubject.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/History.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/ManageSubject.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Profile.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Quiz.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Result.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Subject.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Subjects.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>HomeServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>SubjectsServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>SubscribedlServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>SubjectServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>QuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ProfileServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ManageSubjectsServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>CreateSubjectServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>EditProfileServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>HistoryServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>CreateQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>EditSubjectServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>SubscribeServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>CreateChoiceServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/DeleteQuiz.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectsServlet</servlet-name>
        <servlet-class>Servlet.SubjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribedlServlet</servlet-name>
        <servlet-class>Servlet.SubscribedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>Servlet.SubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>Servlet.QuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassServlet</servlet-name>
        <servlet-class>Servlet.ForgetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSubjectsServlet</servlet-name>
        <servlet-class>Servlet.ManageSubjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSubjectServlet</servlet-name>
        <servlet-class>Servlet.CreateSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>Servlet.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>Servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizServlet</servlet-name>
        <servlet-class>Servlet.CreateQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubjectServlet</servlet-name>
        <servlet-class>Servlet.EditSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeServlet</servlet-name>
        <servlet-class>Servlet.SubscribeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateChoiceServlet</servlet-name>
        <servlet-class>Servlet.CreateChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>Servlet.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <servlet-class>Servlet.DeleteQuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectsServlet</servlet-name>
        <url-pattern>/Subjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/Subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/Quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassServlet</servlet-name>
        <url-pattern>/ForgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSubjectsServlet</servlet-name>
        <url-pattern>/ManageSubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSubjectServlet</servlet-name>
        <url-pattern>/CreateSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizServlet</servlet-name>
        <url-pattern>/CreateQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubjectServlet</servlet-name>
        <url-pattern>/EditSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeServlet</servlet-name>
        <url-pattern>/Subscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateChoiceServlet</servlet-name>
        <url-pattern>/CreateChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribedlServlet</servlet-name>
        <url-pattern>/Subscribed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <url-pattern>/DeleteQuiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
