/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
}

.div-center {
                margin: 10%;
                padding: 5%;
                background-color: #f4f6f8;
                border-radius: 1%;
            }
.card:hover {
                transition: transform .2s;
                -ms-transform: scale(1.1); /* IE 9 */
                -webkit-transform: scale(1.1); /* Safari 3-8 */
                transform: scale(1.1); 
            }